@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
    background-image: url(./assets/line.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
}